@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/OnestBold.woff") format("woff"),
    url("../assets/fonts/OnestBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/OnestMedium.woff") format("woff"),
    url("../assets/fonts/OnestMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/OnestRegular.woff") format("woff"),
    url("../assets/fonts/OnestRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/OnestLight.woff") format("woff"),
    url("../assets/fonts/OnestLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
